<div class="grid-map" [style.width]="(gridWidthInUnits * scaleFactor) + 'rem'">
@for (cell of cells; track cell) {
  <div
    id="grid-cell-{{ cell.index }}"
    [class]="['cell', cell.x % 2 ? (cell.y % 2 ? 'v2' : 'v1') : (cell.y % 2 ? 'v1' : 'v2')]"
    [ngStyle]="{'width.rem': cellSizeInUnitsScaled, 'height.rem': cellSizeInUnitsScaled}"
  >
    <ng-container [ngSwitch]="cell.content?.type">
      <crusher [id]="cell.content?.id" *ngSwitchCase="gameObjectType.Crusher" [crusher]="crusherFromCell(cell)"></crusher>
      <wall [id]="cell.content?.id" *ngSwitchCase="gameObjectType.Wall" [wall]="wallFromCell(cell)"></wall>
      <robot *ngSwitchCase="gameObjectType.PlayerRobot" [robot]="robotFromCell(cell)"></robot>
      <robot *ngSwitchCase="gameObjectType.EnemyRobot" [robot]="robotFromCell(cell)"></robot>
    </ng-container>
  </div>
}
</div>
